html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************** End CSS RESET *****************/

body {
	margin: auto;
	font-family: 'Helvetica', sans-serif;
	color: #000000;
	}

header {
	/**width: 800px;
	height: 250px;
	**/
  padding-bottom: 10%;
  text-align: center;
}

body, section, footer {
	/*width: 800px;*/
	}
#mySketch{
	z-index: -1;
	position: absolute;
}

#top{
	padding-top: 10%;
	color: #000000;
}
#left {
	float: left;
	width: 250px;
	padding-right: 10%;
	padding-left: 20%;
	font-weight: bold;
  padding-bottom: 50%;
	}

#right {
  	float: right;
  	width: 250px;
  	font-weight: bold;
    padding-bottom: 50%;
		padding-right: 20%;
  	}

p {
	width: 750px;
  text-align: left;
	margin-top: 5%;
	margin-left: 10%;
}

img {
float: left;
margin-left: 10%;
margin-top: 3%;
}

ul, ol {
	margin-top: 10%;
	padding-left: 10%;
}

footer {
	clear: both;
  padding-top: 10%;
	margin-right: 10%;
	}

a, footer {
	text-align: right;
}

h1{
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
	color: #000000;
}
#icondown{
 text-align: center;
 padding-bottom: 50%;
}

#iconup{
 text-align: center;
}

h2 {
	margin-bottom: 0;
	left: 30%;
	font-weight: 600;
  font-size: 30px;
}

h3 {
	margin: 0;
	font-weight: bold;
}

a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	color: #303030;
}

a:hover, h1:hover, h2:hover {

	color: #455560;
}
